      .row{
        width:100%;
      }
      .sidebar{
        position:absolute;
        top:0px;
        bottom:0px; 
        left:0px;
        background-color:#2c384a;
        color:white;
        width:30%;
        height:100%;
      }

      

      .mainbar{
        margin-left: 30%;
        width:70%;
      }

      .header, .work, .education{
        position:relative;
        padding:20px;
        border:1px solid #ddd;
        margin-bottom: 10px;
        margin-left:10px;
      }

      .contact{
        position:absolute;
        right:20px;
        top:20px;
        width:200px;  
      }

      .timeline{
        /*margin:10px;
        margin-bottom:none;*/
        padding-left:15px;
        border-left:1px solid #2c384a;
      }

      .social li{
        list-style-type:none;
      } 
      .skillbox{
        margin-top:40px;
        padding:10px;
      }

      .skillbox i {
        color:white;
      }

      .scon {
        width: 100%;
        background-color: #ddd;
        margin-bottom:15px;
      }

      .skills {
        text-align: right;
        padding-top: 0px;
        padding-bottom: 0px;
        color: white;
      }

      .html {width: 90%; background-color: #04AA6D;}
      .dart {width: 80%; background-color: #2196F3;}
      .js {width: 85%; background-color: #f44336;}
      .php {width: 80%; background-color: #2eed11;}
      .mysql {width: 90%; background-color: #f50589;}
      .mongodb {width: 90%; background-color: #15a397;}
      .net {width: 50%; background-color: #15a397;}
      .server {width: 80%; background-color: #f7a40a;}



    


      /*li {
        list-style-type:none;
      }*/
       
      i{
        margin-right: 10px;
        color:#2c384a;
      }
      body{
        font-family:Georgia, serif;
        font-size: 11px;
      }
      
      .onprint{
        display:none;
      }

      .noprint{
        display:block;
      }


      .loading{
        background-color:rgba(0,0,0,0.1);
        position:fixed;
        top:0px;
        left:0px;
        right:0px;
        bottom:0px;
      }

      .icon{
        width:30px;
      }

      .txt-grey{
        color: gray;
      }

      .midHead{
        font-size: 13px;
      }

      @page {
          size:A4 portrait !important;
          margin-left: 0px;
          margin-right: 0px;
          margin-top: 0px;
          margin-bottom: 0px;
          -webkit-print-color-adjust: exact;
        }

      @media print {
        .onprint{
          display:block;
        }

        .noprint{
          display:none;
        }

        body {
          -webkit-print-color-adjust: exact;
          page-break-before: always;
        }
        @page {
          size:A4 portrait !important;
          margin-left: 0px;
          margin-right: 0px;
          margin-top: 0px;
          margin-bottom: 0px;
          -webkit-print-color-adjust: exact;
        }
      }
      