   .headertemp3{
        position:relative;
        padding:20px;
        border:1px solid #ddd;
        margin-bottom: 10px;
        margin-left:10px;
        background-color:#2c384a;
        color:white;
      }
    .headertemp3 i{
    	color:white;
    }

    .titletemp3{
     background-color:#2c384a;
     color:white;
     padding: 4px;
     border-radius:5px;
     margin-bottom: 10px;
    }

    .titletemp3 i {
     color:white;
    }